* {
  box-sizing: border-box;
  transition: 0.5s;
}

body {
  background: #ffffff;
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 26px;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* 在最小尺寸時 container 滿版 */
.container {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  font-weight: bolder;
  text-transform: capitalize;
  font-family: "Anton", sans-serif;
  font-size: 38px;
  line-height: 1.3;
  color: #333;
  margin: 0;
}

h5 {
  color: #c00113;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: 0.7px;
  font-family: "Rajdhani", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.section-title {
  text-align: center;
  margin-bottom: 75px;
}
/* header */
#header {
  position: sticky;
  top: 0;
  z-index: 2;
}

#header .nav-top-bar {
  padding: 15px 0;
  background: #0f1017;
}

#header .nav-top-bar .row {
  display: flex;
}

#header .nav-top-bar .row .col {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

#header .nav-top-bar .call-to-action p {
  margin: 0 13px 0 0;
  display: inline-block;
  color: #ffffff;
  font-size: 15px;
}

#header .nav-top-bar .top-social {
  float: right;
  padding: 0;
  margin: 0 0 0 10px;
  list-style-type: none;
}

#header .nav-top-bar .top-social li {
  display: inline;
  margin-left: 10px;
}

#header .nav-top-bar .top-social li a {
  color: white;
}

#header .main-nav {
  background: #0f1017;
}

#header .main-nav {
}

#header .main-nav .container {
  display: flex;
}

#header .main-nav .container .col {
  width: 50%;
  padding: 0 15px;
}

#header .main-nav a img {
  width: 150px;
}

#header .main-nav .navbar-collapse {
  height: 200px;
  overflow-y: scroll;
  background: rgb(255 255 255 / 0.3);
}

#header .main-nav .navbar-nav {
  padding-left: 10px;
}

#header .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

#header .nav-link {
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", sans-serif;
}

#header .book-now {
  margin-left: -5px;
}

#header .book-now a {
  background: #c00113;
  border-radius: 30px;
  padding: 3px 10px;
}

/* section01 ---------------------------------------------------------------------------------------------------------------------------------------------- */
#section01 {
  height: 50vh;
  padding: 0;
  background-image: url("../img/slider-1.jpg");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section01 .caption h1 {
  color: white;
}

#section01 .caption h2 {
  color: white;
}

#section01 .caption h3 {
  color: white;
}

#section01 .caption p {
  color: white;
}

#section01 .caption .home-slider-btn {
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  opacity: 1;
}

#section01 .button {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 35px;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-weight: 400;
  border: 2px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  background: none;
  cursor: pointer;
  margin-top: 25px;
  overflow: hidden;
}

#section01 .button:hover {
  background: #c00113;
}

#section01 .circle {
  width: 40px;
  position: absolute;
  height: 40px;
  border: 2px solid #c00113;
  background: white;
  border-radius: 50%;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -95%);
}

#section01 .circle:hover {
  cursor: pointer;
}

/* section02 ---------------------------------------------------------------------------------------------------------------------------------------------- */
#section02 {
  padding: 100px 0;
  display: flow-root;
}

#section02 .row > .col {
  text-align: center;
  margin-bottom: 20px;
}

#section02 .row {
  display: flex;
  flex-wrap: wrap;
}

#section02 .col {
  width: 100%;
}

#section02 .col h5 {
  color: #c00113;
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: 0.7px;
  font-family: "Anton", sans-serif;
}

#section02 .col p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #555;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", sans-serif;
}

/* section03 ---------------------------------------------------------------------------------------------------------------------------------------------- */
#section03 {
  padding: 100px 0;
  background: rgba(128, 128, 128, 0.1);
}

#section03 .row {
  display: flex;
  flex-wrap: wrap;
}

#section03 .col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

#section03 .menu-product-info-box {
  margin-bottom: 30px;
}

#section03 .menu-product-description {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #dbdbdb;
}

#section03 .col h4 {
  color: #c00113;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 10px;
  text-transform: capitalize;
  line-height: 1.5;
  font-family: "Anton", sans-serif;
}

#section03 a:visited {
  color: #c00113;
}

#section03 .col p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #555;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", sans-serif;
}

/* section04 ---------------------------------------------------------------------------------------------------------------------------------------------- */
#section04 {
  padding: 100px 0;
  background: url("../img/products-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
  text-align: center;
  position: relative;
}

#section04 .section-title h2 {
  color: white;
}

#section04 .row {
  display: flex;
  flex-wrap: wrap;
}

#section04 .row .col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

#section04 .row .col .product-item {
  width: 100%;
  background-color: white;
  margin-top: 30px;
}

#section04 .row .col .product-item img {
  width: 100%;
}

#section04 .row .col .product-item .item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  text-align: center;
}

#section04 .row .col .product-item .item-details h3 {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0;
  color: #0f1017;
}

#section04 .row .col .item-details .item-price {
  color: #c00113;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

/* section05 ---------------------------------------------------------------------------------------------------------------------------------------------- */
#section05 {
  padding: 100px 0;
}

#section05 .row {
  display: flex;
  flex-wrap: wrap;
}

#section05 .row .col {
  width: 100%;
}

#section05 .row .col .gallery-list {
  width: 100%;
  text-align: center;
  margin: auto;
}

#section05 .row .col .gallery-list ul {
  width: 100%;
  display: inline-block;
  margin: auto;
  position: relative;
  padding: 0;
}

#section05 .row .col .gallery-list ul li {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 10px 15px;
  padding: 8px 25px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.1);
  border-radius: 3px;
}

#section05 .row .col .gallery-list ul li:first-child {
  background: #c00113;
  color: white;
}

#section05 .row .col .gallery {
  width: 100%;
}

#section05 .row .col .gallery-item {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 3px;
  margin-top: 30px;
}

#section05 .row .col .gallery-item img {
  width: 100%;
}

#section05 .row .col .gallery-more-btn {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

#section05 .row .col .gallery-more-btn .button {
  position: relative;
  z-index: 1;
  border: 2px solid #c00113;
  color: #c00113;
  display: inline-block;
  padding: 9px 35px;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-weight: 400;
  border-radius: 30px;
  background: none;
  cursor: pointer;
  margin-top: 25px;
  overflow: hidden;
}

#section05 .row .col .gallery-more-btn .button:hover {
  background-color: #c00113;
  color: white;
}

/* section06 ---------------------------------------------------------------------------------------------------------------------------------------------- */
#section06 {
  padding: 100px 0;
  background: rgba(128, 128, 128, 0.1);
}

#section06 .col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 343px;
  margin: auto;
}

#section06 .col .avatar img {
  border-radius: 50%;
  border: 3px solid #fff;
  width: 130px;
  margin: 0 auto;
  padding: 3px;
}

#section06 .col .testimonial-content {
  margin-top: 10px;
  margin-bottom: 20px;
}

#section06 .col .testimonial-content p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #555;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

#section06 .col .bio-info {
  text-align: center;
  margin-top: 10px;
}

#section06 .col .bio-info .name {
  font-size: 18px;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: -2px;
  font-family: "Anton", sans-serif;
  color: #333;
  line-height: 1.5;
}

/* section07 ---------------------------------------------------------------------------------------------------------------------------------------------- */
#section07 {
  padding: 100px 0;
  background: #fff6f6;
}

#section07 h3 {
  margin: 0;
  font-family: "Anton", sans-serif;
  font-weight: bolder;
  color: #333;
  line-height: 1.5;
  font-size: 1.25rem;
}

#section07 p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #555;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", sans-serif;
}

#section07 .row {
  display: flex;
  flex-wrap: wrap;
}

#section07 .row .col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

#section07 .blog-title a:visited {
  color: #333;
}

#section07 .col .single-blog {
  width: 100%;
  background-color: #fff;
  margin-top: 30px;
}

#section07 .col .single-blog .blog-img img {
  width: 100%;
}

#section07 .blog-content {
  padding: 30px 25px;
}

#section07 .blog-bottom-text-link {
  display: flex;
  justify-content: space-between;
}

#section07 .blog-bottom-text-link a {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  background: #c00113;
  display: block;
  padding: 0px 10px;
}

#section07 .blog-more-btn {
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

#section07 .blog-more-btn .button {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 35px;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-weight: 400;
  border: 2px solid #c00113;
  border-radius: 30px;
  color: #c00113;
  background: none;
  cursor: pointer;
  margin-top: 25px;
  overflow: hidden;
}

#section07 .blog-more-btn .button:hover {
  background-color: #c00113;
  color: white;
}

/* section08 ---------------------------------------------------------------------------------------------------------------------------------------------- */
#section08 {
  padding: 100px 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../img/reservation-bg.jpg");
  text-align: center;
}

#section08 h5 {
  color: #c00113;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: 0.7px;
  font-family: "Anton", sans-serif;
}

#section08 h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: -5px;
}

#section08 .row {
  display: flex;
}

#section08 .col {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  text-align: center;
}

/* section09 ---------------------------------------------------------------------------------------------------------------------------------------------- */
#section09 {
  padding: 100px 0;
  text-align: center;
}

#section09 .row {
  display: flex;
  flex-wrap: wrap;
}

#section09 .col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/* section10 ---------------------------------------------------------------------------------------------------------------------------------------------- */
#section10 {
  padding: 100px 0;
  background-image: url("../img/contact-bg.jpg");
  background-attachment: fixed;
  background-position: 100% 100%;
  background-size: cover;
  z-index: 1;
}

#section10 .section-title h2 {
  color: white;
}

#section10 .row-out {
  display: flex;
  flex-wrap: wrap;
}

#section10 .row-out .col-out {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: -15px;
  margin-left: -15px;
}

#section10 .row-out .col-img {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: -15px;
  margin-left: -15px;
}

#section10 .row-in .col-in {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: -15px;
  margin-left: -15px;
}

#section10 .form-container-box {
  padding: 25px 15px;
  margin-top: 30px;
  background: #ffffff;
  padding: 40px;
  border-radius: 5px;
}

#section10 .form {
  display: block;
  margin-top: 0em;
}

#section10 .form-group {
  margin-bottom: 25px;
}

#section10 .form input {
  width: 100%;
  padding: 10px 20px;
  border: 0;
  background-color: transparent;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #b6b6b7;
  border-bottom: 3px solid #c00113;
}

#section10 .form textarea {
  width: 100%;
  padding: 10px 20px;
  border: 0;
  background-color: transparent;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #b6b6b7;
  border-bottom: 3px solid #c00113;
}

#section10 .help-block {
  text-align: left;
}

#section10 .list-unstyled {
  padding: 0;
}

#section10 .button {
  border-color: #c00113;
  color: #c00113;
  display: inline-block;
  padding: 9px 35px;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-weight: 400;
  border: 2px solid #c00113;
  border-radius: 30px;
  background: none;
  cursor: pointer;
  margin-top: 25px;
  overflow: hidden;
}

#section10 .button:hover {
  background: #c00113;
  color: white;
}

/* footer ------------------------------------------------------------------------------------------------------------------------------------------------- */
#footer {
  background: #0f1017;
  padding: 50px 0;
}

#footer p {
  color: #b6b6b7;
}

#footer .contact-box h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #c00113;
  text-align: center;
}

#footer .contact-box p {
  text-align: center;
}

#footer .contact-box p a:hover {
  color: #c00113;
}

#footer .contact-box p i {
  color: #c00113;
}

#footer .contact-box p.opening-hours {
  overflow: hidden;
  padding: 0;
  text-align: left;
}

#footer .contact-box p.opening-hours span {
  float: right;
  margin-right: 25px;
}

#footer .newsletter-form .form-control {
  width: 100%;
  padding: 10px 20px;
  border: 0;
  height: auto;
  background-color: transparent;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #b6b6b7;
  border-bottom: 3px solid #c00113;
}

#footer .contact-box form .button {
  display: block;
  font-size: 16px;
  width: 100%;
  padding: 3px 0;
  margin-top: 10px;
  height: 42px;
  border-radius: 3px;
  background: #0f1017;
  border-color: white;
  color: white;
}

#footer .contact-box form .button:hover {
  background-color: #c00113;
}

[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

/* #footer .contact-box form .button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
  background-color: #c00113;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
} */

#footer .footer-copyright-text {
  text-align: center;
  color: white;
}

#footer .footer-link ul {
  margin-top: 10px;
  text-align: center;
  list-style-type: none;
  padding: 0%;
}

#footer .footer-link ul li:first-child {
  display: inline-block;
  position: relative;
  padding-left: 0;
}

#footer .footer-link ul li {
  display: inline-block;
  position: relative;
  padding-left: 20px;
}

#footer .footer-link ul li:last-child::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 5px;
  background: #cccccc;
  width: 2px;
  height: 14px;
}

#footer .footer-link ul li a {
  color: white;
}

#footer .row1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

#footer .row {
  display: flex;
  flex-wrap: wrap;
}

#footer .row1 .col1 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

#footer .row .col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/* 各個區域不同尺寸使用絕對定位 在最小尺寸設定 relative */
#section01,
#section02,
#section03,
#section04,
#section05,
#section06,
#section07,
#section08,
#section09,
#section010,
#footer {
  position: relative;
}

/* 在寬度 768px 時的設定 */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  /* section01 */
  #section01 {
    height: 75vh;
  }

  /* section02 */
  #section02 .row {
    display: flex;
    flex-wrap: wrap;
  }

  #section02 .row .col {
    width: 50%;
  }

  /* section03 */
  #section03 .row {
    display: flex;
  }

  #section03 .row .col {
    width: 50%;
  }

  /* section04 */
  #section04 .row {
    display: flex;
    flex-wrap: wrap;
  }

  #section04 .row .col {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }

  #section04 .row .col .product-item {
    width: 100%;
    background-color: white;
    margin-top: 30px;
  }

  #section04 .row .col .product-item img {
    width: 100%;
  }

  #section04 .row .col .product-item .item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    text-align: center;
  }

  /* section05 */
  #section05 .col .gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  #section05 .col .gallery .gallery-item {
    width: 50%;
    padding: 0 15px;
  }

  #section05 .col .gallery .gallery-item img {
    width: 100%;
  }

  /* section06 */
  #section06 .col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 690px;
    margin: auto;
  }

  /* section07 */
  #section07 .row {
    display: flex;
    flex-wrap: wrap;
  }

  #section07 .row .col {
    width: 50%;
  }

  #section07 .col:last-child {
    width: 100%;
  }

  #section07 .col .single-blog {
    width: 100%;
  }

  #section07 .col .single-blog .blog-img img {
    width: 100%;
  }

  /* section09 */
  #section09 .row {
    display: flex;
    flex-wrap: wrap;
  }

  #section09 .row .col {
    width: 50%;
  }

  /* section10 */
  #section10 .row-out {
    display: flex;
  }

  #section10 .row-out .col-out {
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;
  }

  #section10 .row-out .col-img {
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
  }

  #section10 .row-in {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  #section10 .row-in .col-in {
    width: 33.33333%;
    margin-left: 15px;
  }

  #section10 .row-in .col-in:nth-child(4) {
    width: 100%;
  }

  /* footer */
  #footer .row1 {
    display: flex;
    flex-wrap: wrap;
  }

  /* 嘗試將換行的第三個col置中 但調整margin-left之後 1200px會跟768px的排版一樣 */
  #footer .row1 .col1 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }

  #footer .row {
    display: flex;
  }

  #footer .row .col {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }

  #footer .contact-box h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #c00113;
    text-align: left;
  }

  #footer .contact-box p {
    text-align: left;
  }

  #footer .contact-box p a {
    color: #555;
  }

  #footer .contact-box p a:hover {
    color: #c00113;
  }

  #footer .contact-box p i {
    color: #c00113;
  }

  #footer .footer-copyright-text {
    text-align: left;
    color: white;
  }

  #footer .footer-link ul {
    margin-top: 10px;
    text-align: right;
    list-style-type: none;
    padding: 0%;
  }
}

/* 在寬度 1200px 時的設定 */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  #header #navbarDefault {
    width: 100%;
    height: 10%;
  }

  #header .main-nav .navbar-collapse {
    height: 100%;
  }

  #header .main-nav .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #header .main-nav .navbar-collapse {
    overflow-y: hidden;
    background: #0f1017;
  }

  #header .main-nav .nav-item {
    margin: 0 1px;
  }

  /* section01 */
  #section01 {
    height: 100vh;
  }

  /* section02 */
  #section02 {
    height: 100vh;
  }

  #section02 .row {
    display: flex;
    flex-wrap: wrap;
  }

  #section02 .row .col {
    width: 33.333333%;
  }

  /* section03 */
  #section03 {
    height: 100vh;
  }

  #section03 .row {
    display: flex;
  }

  #section03 .row .col {
    width: 50%;
  }

  /* section04 */
  #section04 .row {
    display: flex;
    flex-wrap: wrap;
  }

  #section04 .row .col {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }

  #section04 .row .col .product-item {
    width: 100%;
    background-color: white;
    margin-top: 30px;
  }

  #section04 .row .col .product-item img {
    width: 100%;
  }

  #section04 .row .col .product-item .item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    text-align: center;
  }

  #section04 .menu-product-details a:link {
    color: #c00113;
  }

  /* section05 */
  #section05 .col .gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  #section05 .col .gallery .gallery-item {
    width: 25%;
    padding: 0 15px;
  }

  #section05 .col .gallery .gallery-item img {
    width: 100%;
  }

  /* section06 */
  #section06 .col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 695px;
    margin: auto;
  }

  /* section07 */
  #section07 .row {
    display: flex;
    flex-wrap: wrap;
  }

  #section07 .row .col {
    width: 33.333333%;
  }

  #section07 .col:last-child {
    width: 100%;
  }

  #section07 .col .single-blog {
    width: 100%;
  }

  #section07 .col .single-blog .blog-img img {
    width: 100%;
  }

  /* section09 */
  #section09 .row {
    display: flex;
  }

  #section09 .row .col {
    width: 16.66667%;
  }

  /* footer */
  #footer .row1 {
    display: flex;
  }

  #footer .row1 .col1 {
    width: 33.333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  #footer .row {
    display: flex;
  }

  #footer .row .col {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
